/* hobbies section */
#hobbies .hobbies-container {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
  }
  #hobbies .hobbies-header h1 {
	margin-bottom: 50px;
  }
  #hobbies .all-hobbies {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  }
  #hobbies .hobbies-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
  }
  #hobbies .hobbies-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
  }
  #hobbies .hobbies-info h1 {
	font-size: 4rem;
	font-weight: 500;
  }
  #hobbies .hobbies-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
  }
  #hobbies .hobbies-info p {
	color: white;
  }
  #hobbies .hobbies-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
  }
  #hobbies .hobbies-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
  }
  #hobbies .hobbies-img img {
	transition: 0.3s ease transform;
  }
  #hobbies .hobbies-item:hover .hobbies-img img {
	transform: scale(1.1);
  }
  /* End Hobbies section */
  